[Project B] 뉴스 요약 자동화 워크플로우 만들기.blueprint.json
{
    "name": "[Project B] 뉴스 요약 자동화 워크플로우 만들기",
    "flow": [
        {
            "id": 2,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "mapper": {
                "url": "https://news.google.com/rss/search?q=FIFA+2026+%ED%95%9C%EA%B5%AD&hl=ko&gl=KR&ceid=KR:ko",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "2",
                "filterDateTo": "",
                "filterDateFrom": ""
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": "source"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "authenticationType": "noAuth"
            },
            "filter": {
                "name": "FIFA 토너먼트 키워드 필터",
                "conditions": [
                    [
                        {
                            "a": "{{2.rssFields.title}}",
                            "b": "한국",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.description}}",
                            "b": "한국",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.title}}",
                            "b": "32강",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.description}}",
                            "b": "32강",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.title}}",
                            "b": "16강",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.description}}",
                            "b": "16강",
                            "o": "text:contain"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.title}}",
                            "b": "진출",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.description}}",
                            "b": "진출",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.title}}",
                            "b": "탈락",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.rssFields.description}}",
                            "b": "탈락",
                            "o": "text:contain:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_API_KEY",
                "method": "post",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "timeout": "120",
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\"contents\":[{\"parts\":[{\"text\":\"FIFA 2026 뉴스를 한국어 3줄로 요약해줘. 제목: {{2.Title}}\"}]}]}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 8,
                    "module": "http:MakeRequest",
                    "version": 4,
                    "parameters": {
                        "tlsType": "",
                        "authenticationType": "noAuth"
                    },
                    "mapper": {
                        "url": "https://discord.com/api/webhooks/OUR_DISCORD_WEBHOOK_URL",
                        "method": "post",
                        "contentType": "json",
                        "inputMethod": "jsonString",
                        "shareCookies": false,
                        "parseResponse": true,
                        "allowRedirects": true,
                        "stopOnHttpError": true,
                        "jsonStringBodyContent": "{\n  \"content\": \"⚠️ FIFA 파이프라인 에러 발생!\\n에러: {{error.message}}\"\n}",
                        "requestCompressedContent": true
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "method": {
                                    "mode": "chose",
                                    "label": "POST"
                                },
                                "headers": {
                                    "mode": "chose"
                                },
                                "contentType": {
                                    "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                },
                                "inputMethod": {
                                    "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                },
                                "shareCookies": {
                                    "mode": "chose"
                                },
                                "parseResponse": {
                                    "mode": "chose"
                                },
                                "allowRedirects": {
                                    "mode": "chose"
                                },
                                "paginationType": {
                                    "label": "Empty"
                                },
                                "queryParameters": {
                                    "mode": "chose"
                                },
                                "stopOnHttpError": {
                                    "mode": "chose"
                                },
                                "requestCompressedContent": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "tlsType": {
                                    "label": "Empty"
                                },
                                "authenticationType": {
                                    "label": "No authenticationUse when no credentials are required for the request."
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "authenticationType",
                                "type": "select",
                                "label": "Authentication type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "noAuth",
                                        "apiKey",
                                        "basicAuth",
                                        "oAuth"
                                    ]
                                }
                            },
                            {
                                "name": "tlsType",
                                "type": "select",
                                "label": "Transport layer security (TLS)",
                                "validate": {
                                    "enum": [
                                        "mTls",
                                        "tls"
                                    ]
                                }
                            },
                            {
                                "name": "proxyKeychain",
                                "type": "keychain:proxy",
                                "label": "Proxy"
                            }
                        ],
                        "expect": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL",
                                "required": true
                            },
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "get",
                                        "head",
                                        "post",
                                        "put",
                                        "patch",
                                        "delete",
                                        "options"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name",
                                            "required": true,
                                            "validate": {
                                                "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                            }
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Header"
                                },
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "queryParameters",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name",
                                            "required": true
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Parameter"
                                },
                                "type": "array",
                                "label": "Query parameters"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Body content type",
                                "validate": {
                                    "enum": [
                                        "json",
                                        "multipart",
                                        "urlEncoded",
                                        "custom"
                                    ]
                                }
                            },
                            {
                                "name": "parseResponse",
                                "type": "boolean",
                                "label": "Parse response",
                                "required": true
                            },
                            {
                                "name": "stopOnHttpError",
                                "type": "boolean",
                                "label": "Return error if HTTP request fails",
                                "required": true
                            },
                            {
                                "name": "timeout",
                                "type": "uinteger",
                                "label": "Timeout",
                                "validate": {
                                    "max": 300,
                                    "min": 1
                                }
                            },
                            {
                                "name": "allowRedirects",
                                "type": "boolean",
                                "label": "Allow redirects",
                                "required": true
                            },
                            {
                                "name": "shareCookies",
                                "type": "boolean",
                                "label": "Share cookies with other HTTP modules",
                                "required": true
                            },
                            {
                                "name": "requestCompressedContent",
                                "type": "boolean",
                                "label": "Request compressed content",
                                "required": true
                            },
                            {
                                "name": "inputMethod",
                                "type": "select",
                                "label": "Body input method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "dataStructure",
                                        "jsonString"
                                    ]
                                }
                            },
                            {
                                "name": "jsonStringBodyContent",
                                "type": "text",
                                "label": "Body content",
                                "required": true
                            },
                            {
                                "name": "paginationType",
                                "type": "select",
                                "label": "Pagination type",
                                "validate": {
                                    "enum": [
                                        "offsetBased",
                                        "pageBased",
                                        "urlBased",
                                        "tokenBased"
                                    ]
                                }
                            }
                        ],
                        "interface": [
                            {
                                "name": "data",
                                "type": "any",
                                "label": "Data"
                            },
                            {
                                "name": "statusCode",
                                "type": "number",
                                "label": "Status Code"
                            },
                            {
                                "name": "headers",
                                "spec": [
                                    {
                                        "name": "content-length",
                                        "type": "text",
                                        "label": "Content-Length"
                                    },
                                    {
                                        "name": "content-encoding",
                                        "type": "text",
                                        "label": "Content-Encoding"
                                    },
                                    {
                                        "name": "content-type",
                                        "type": "text",
                                        "label": "Content-Type"
                                    },
                                    {
                                        "name": "server",
                                        "type": "text",
                                        "label": "Server"
                                    },
                                    {
                                        "name": "cache-control",
                                        "type": "text",
                                        "label": "Cache-Control"
                                    },
                                    {
                                        "name": "set-cookie",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Set-Cookie"
                                    }
                                ],
                                "type": "collection",
                                "label": "Headers"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 7,
            "module": "notion:createDataSourceItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9617625
            },
            "mapper": {
                "fields": [
                    {
                        "key": "이름",
                        "type": "title",
                        "value": "{{2.title}}"
                    },
                    {
                        "key": "요약",
                        "type": "rich_text",
                        "value": "{{3.data.candidates[].content.parts[].text}}"
                    },
                    {
                        "key": "링크",
                        "type": "url",
                        "value": "{{2.url}}"
                    },
                    {
                        "key": "날짜",
                        "date": {
                            "start": "{{2.dateCreated}}"
                        },
                        "type": "date"
                    }
                ],
                "select": "map",
                "data_source": "38b0978c-a667-800c-9516-000b85d719d5"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "fields": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Title"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Rich text"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "URL"
                                    }
                                },
                                {
                                    "date": {
                                        "nested": {
                                            "includeTime": {
                                                "mode": "chose",
                                                "label": "Empty"
                                            }
                                        }
                                    },
                                    "type": {
                                        "mode": "chose",
                                        "label": "Date"
                                    }
                                }
                            ]
                        },
                        "select": {
                            "label": "Generic Fields"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion3"
                            },
                            "label": "Notion FIFA"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "data_source",
                        "type": "text",
                        "label": "Data Source ID",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Value Type",
                                "options": [
                                    {
                                        "label": "Title",
                                        "value": "title",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Rich text",
                                        "value": "rich_text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Email",
                                        "value": "email",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "email",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Select",
                                        "value": "select",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Status",
                                        "value": "status",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Multi select",
                                        "value": "multi_select",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "array",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Phone number",
                                        "value": "phone_number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Checkbox",
                                        "value": "checkbox",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "boolean",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "URL",
                                        "value": "url",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "url",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "People",
                                        "value": "people",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "array",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [
                                            {
                                                "name": "date",
                                                "spec": [
                                                    {
                                                        "name": "start",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Start Time"
                                                    },
                                                    {
                                                        "help": "Optional. Use only when entering a date range.",
                                                        "name": "end",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "End Time"
                                                    },
                                                    {
                                                        "name": "includeTime",
                                                        "type": "select",
                                                        "label": "Include Time",
                                                        "options": [
                                                            {
                                                                "label": "Yes",
                                                                "value": true
                                                            },
                                                            {
                                                                "label": "No",
                                                                "value": false
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Date"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Relation",
                                        "value": "relation",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "array",
                                                "label": "Value"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Fields"
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "in_trash",
                        "type": "boolean",
                        "label": "In trash"
                    },
                    {
                        "name": "public_url",
                        "type": "text",
                        "label": "Public URL"
                    },
                    {
                        "name": "request_id",
                        "type": "text",
                        "label": "Request ID"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            },
                            {
                                "name": "data_source_id",
                                "type": "text",
                                "label": "Data Source ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "properties_value",
                        "spec": [
                            {
                                "name": "요약",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "요약"
                            },
                            {
                                "name": "링크",
                                "type": "text",
                                "label": "링크"
                            },
                            {
                                "name": "날짜",
                                "spec": [
                                    {
                                        "name": "start",
                                        "type": "date",
                                        "label": "Start"
                                    },
                                    {
                                        "name": "end",
                                        "type": "date",
                                        "label": "End"
                                    },
                                    {
                                        "name": "time_zone",
                                        "type": "text",
                                        "label": "Time Zone"
                                    }
                                ],
                                "type": "collection",
                                "label": "날짜"
                            },
                            {
                                "name": "이름",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "이름"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}